config.json
geckodriver.log
output_log.txt
scope.txt
shared_data.json
test.sh
.idea/.gitignore
.idea/AutoMate.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/mirkat.cpython-311.pyc
__pycache__/plugin_interface.cpython-311.pyc
backup/config.json
Old/ascii.txt
Old/config_update.json
Old/example_plugin.py
Old/eyewitness_plugin.py
Old/geckodriver.log
Old/main.py
Old/mirkat_w-plugins.py
Old/output_log.txt
Old/plugin_interface.py
Old/plugins/nmap_plugin.py
Old/plugins/sslscan_plugin.py
Old/plugins/__pycache__/example_plugin.cpython-311.pyc
Old/plugins/__pycache__/eyewitness_plugin.cpython-311.pyc
Old/plugins/__pycache__/nmap_plugin.cpython-311.pyc
Old/plugins/__pycache__/sslscan_plugin.cpython-311.pyc
.gitignore
Projects/*
127.0.0.1_detailed-tcp_scan.xml
error.log
mirkat copy.py
test.xml
plugins/__pycache__/plugin_nmap.cpython-311.pyc
plugins/__pycache__/plugin_eyewitness.cpython-311.pyc
